<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="{{url_for('static',filename='wxweb/css/jquery.mobile-1.3.2.min.css')}}">
<script src="{{url_for('static',filename='wxweb/js/jquery-1.8.3.min.js')}}"> </script>
<script src="{{url_for('static',filename='wxweb/js/jquery.mobile-1.3.2.min.js')}}"> </script>
<title>校园美食</title>
<style>
	img{
    max-width: 100%;
    height:auto;
  }
  .demo{
    position: absolute;
    display: none;
  }
  #demo1{
    display: block;
  }
</style>
</head>

<body>
    <div data-role="page" id="pageone">  
        <div data-role="header">  
            <h1>校园美食</h1>
        </div> 
      	<div data-role="navbar">
		    <ul class="ul">
		      <li class="btn1" id="0"><a href="#" class="ui-btn-active">特色菜品</a></li>
		      <li class="btn1" id="1"><a href="#">订餐派送</a></li>
		      <li class="btn1" id="2"><a href="#">个性化订餐</a></li>
		    </ul>
		  </div>
        <div data-role="content">
        	<div class="demo">特色菜品
            {{user.content}}
          </div>
        	<div class="demo" >订餐派送
            {{user.content}}
          </div>
        	<div class="demo" >个性化订餐
            {{user.content}}
          </div>
        </div>
       {% include "wxweb/footnav.html" %}
    </div>
</body>
<script>
$(function(){
  var ul = document.getElementsByClassName('ul')[0];
  var children = ul.children;
  var $btn = $(children);
  $('.demo').css('display','none');
  $('.demo')[0].style.display = 'block';
  $btn.on('click',function(){
    $('.demo').css('display','none');
    $('.demo')[this.id].style.display = 'block';
  })
})
</script>
</html>
