<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{url_for('static',filename='wxweb/css/phone.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='wxweb/css/common.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='wxweb/css/jquery.mobile-1.3.2.min.css')}}">
	<script src="{{url_for('static',filename='wxweb/js/jquery-1.8.3.min.js')}}"> </script>
	<script src="{{url_for('static',filename='wxweb/js/jquery.mobile-1.3.2.min.js')}}"> </script>
	<title>我的课表</title>
	<style>
	#class{
		border-color:#A5A4B3;
		width:100%;}
	#class tr td{
		font-size:12px;
		color:#333333;
		height:50px;
		width:13%;
		text-align:center;}
	#class tr th{
		text-align:center;
		color:#5A6AAC;
		font-weight:bold;}
	#class tr th:first-child{
		width:7%;}
	#class tr td span{
		}
		.error{
			display:block;
			top:50%;
			position: relative;
			z-index: 1000;
			width:100%;
			text-align:center;
			height:auto;
			cursor: pointer;
		}
	</style>
</head>

<body>

    <div data-role="page" id="pageone">
        <div data-role="content" style=" margin-top: 10px;">
        	<div id="all">
				<table id="class" border="1">
					<thead>
						<th>{{ courseinfo.month }}月</th>
						<th>周一</th>
						<th>周二</th>
						<th>周三</th>
						<th>周四</th>
						<th>周五</th>
						<th>周六</th>
						<th>周日</th>
					</thead>
					<tbody>
                        {% for col in range(11) %}
                        <tr>
                            <th height="50">{{ col+1 }}</th>
                            {% for row in courseinfo.curriculuminfo[col] %}
                                <td {% if row[0] != 0 %} rowspan="{{ row[0] }}" {% endif %} >{{row[1]}}</td>
                                <!-- style="background-color:#{{row[2]}}" -->
                            {% endfor %}
                        </tr>
                        {% endfor %}                   
					</tbody>
				</table>
			</div>
			<input type="hidden" name="openid" value="">
        </div>
        {% include "wxweb/footnav.html" %}
    </div>
</body>
</html>
